# Database Configuration
DATABASE_HOST=localhost
DATABASE_NAME=empjd
DATABASE_USER_NAME=avnadmin
DATABASE_PORT=28002
DATABASE_PASS=your_password_here
DATABASE_SSL=require

# External APIs
PINECONE_API_KEY=your_pinecone_key
GEMINI_API_KEY=your_gemini_key
