fastapi
uvicorn[standard]
python-dotenv

# Database
SQLAlchemy
psycopg2-binary
alembic
asyncpg

# HTTP
httpx

# AI / LLM
google-genai
groq

# Vector DB
pinecone

# LangChain (only if you're actually using it)
langchain
langchain-core
langchain-groq

# Pydantic
pydantic
pydantic-settings